*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background:url(/BLOGPAGE/Images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    /* for footer */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* For Nav */
.navbar{
  display: flex;
  align-items: center;
  padding: 30px;
  padding-bottom: 10px;
}

nav{
  flex: 1;
  text-align: right;
  color: aliceblue;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-left: 100px;
  transition: 0.45s;
  border-radius: 10px;
}

a:hover{
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: rgb(0, 0, 0);

}

/* login page */

.wrapper{
    width: 420px;
    background-color:transparent;
    border: 2px solid rgba(225, 255, 255, .2); /*bg border*/
    backdrop-filter: blur(10px);
    box-shadow: 0 0 5px ;
    color:#24262b;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 100px;
}

.wrapper h1{
    font-size: 35px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width:100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px;
}

.input-box input::placeholder{
    color:black;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 20px;
    color: black;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
     accent-color: black; /* remember me tick bg white color */
     margin-right: 2px;
}

.remember-forgot a{
     color: black;
     text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline; /* forget pass hover */
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 10px rgba(red, green, blue, alpha);
    cursor: pointer;
    font-size: 15px;
    color: black;
}

.wrapper .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color:black;
    text-decoration: none;
}

.register-link p a:hover{
    text-decoration: underline;
}


/*footer css*/
.container {
  max-width: 1170px;
  margin: 0 auto; /* Center-align the footer content */
}
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  
  footer {
    background-color: black;
    padding: 40px 0;
    position: relative;
    width: 100%;
    margin-top: 200px;
}
  
  .footer__col{
    width: 25%;
    padding: 0 15px;
  }
  .footer__col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer__col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer__col ul li :not(:last-child){
     margin-bottom: 10px;
  }
  .footer__col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer__col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer__col .social__links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer__col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }
  .social__links{
    color: #ffffff;
    cursor: pointer;
  }
  /*responsive*/
  @media (max-width:767px) {
    .footer__col{
      width: 50%;
      margin-bottom: 30px;
    }
  }
  @media (max-width:574px) {
    .footer__col{
      width: 100%;
    }
  }


